streamlit==1.35.0
langchain==0.1.14
langchain-experimental==0.0.50
langchain-openai==0.1.6
openai==1.17.0
pandas==2.1.4
numpy==1.26.4
python-dotenv==1.0.1
requests==2.31.0
matplotlib
seaborn
dotenv
langchain.tools
